apiVersion: apps/v1
kind: Deployment
metadata:
  name: notesapp-deployment
  namespace: nginx
  labels:
    app: demoapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demoapp
  template:
    metadata:
      name: demoapp-pod
      labels:
        app: demoapp
    spec:
      containers:
      - name: demoapp
        image: rupeshs11/django-noteapp:01
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000


---

apiVersion: v1
kind: Service
metadata:
  name: noteapp-service
  namespace: nginx
spec:
  selector:
    app: demoapp
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP
