apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: db-app
  template:
    metadata:
      labels:
        app: db-app
    spec:
      containers:
        - name: db-app
          image: rupeshs11/mongo-demo:02
          ports:
            - containerPort: 3000
